.main {
  width: 100%;
  background-color: #f5f6f7;
  padding: 80px 0;
}

.main__container {
  width: 100%;
  max-width: 1232px;
  margin: 0 auto;
  padding: 0 104px;
}

@media (max-width: 1024px) {
  .main {
    padding: 40px 0;
  }

  .main__container {
    padding: 0 40px;
  }
}

@media (max-width: 768px) {
  .main {
    padding: 32px 0;
  }

  .main__container {
    padding: 0 16px;
  }
}
